# One hot encoding - variable with many categories

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('mercedesbenz.csv', usecols=['X1','X2','X3','X4','X5','X6'])

In [4]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j
3  l   n  f  d  z  l
4  s  as  c  d  y  i

In [5]:
## Let's have a look at how many labels each variable has

for col in data.columns:
    print(col, ': ', len(data[col].unique()), 'lables')

X1 :  27 lables
X2 :  45 lables
X3 :  7 lables
X4 :  4 lables
X5 :  32 lables
X6 :  12 lables

In [6]:
# let' examine how many columns we will obtain after one hot encoding these variables 
pd.get_dummies(data,drop_first=True).shape

(4209, 121)

In [11]:
data.X2.value_counts().sort_values(ascending= False).head(20)

as    1658
ae     478
ai     462
m      348
ak     260
r      155
n      113
s      100
f       85
e       84
ay      78
aq      72
a       44
b       38
k       25
t       25
ag      23
ac      20
ao      19
i       15
Name: X2, dtype: int64

In [12]:
# let's make a list with the most frequent categories of the variable

top_10 = [x for x in data.X2.value_counts().sort_values(ascending= False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [19]:
# and now we make the 10 binary variables

for label in top_10:
    data[label] = np.where(data['X2']==label, 1,0)
    
data[['X2'] + top_10 ].head()

   X2  as  ae  ai  m  ak  r  n  s  f  e
0   n   0   0   0  0   0  0  1  0  0  0
1  ai   0   0   1  0   0  0  0  0  0  0
2  as   1   0   0  0   0  0  0  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4  as   1   0   0  0   0  0  0  0  0  0