## Python list and boolean

In [107]:
my_name = "Krishnendu Dakshi12"  ## after my_name.  hit tab to get all methods for strings

In [108]:
print(my_name.islower()) ## test if string contains all lowercase or not
print(my_name.isalnum()) ## check if all all char are number
print(my_name.istitle())

False
False
True

# Boolean and logical operators

In [109]:
True and True

True

In [110]:
True and False

False

In [111]:
True or False

True

In [112]:
name = "Krishnendu Dakshi"
user = "k2022"

user.isalnum() and name.istitle()

True

# Lists

#### A list is a data structure in python that is a mutable or changable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets[]

In [113]:
type([])

list

In [114]:
lst = list()
type(lst)

list

In [115]:
lst = [ "apple", "orange", 100, 3.34]

for i in lst:
    print(i)

apple
orange
100
3.34

### Append

In [116]:
# append is used to add elements in the list
lst.append("mango")

In [117]:
for i in lst:
    print(i)

apple
orange
100
3.34
mango

In [118]:
# indexing starts with 0 t0 (n-1)
for i in lst[1:3]:   ## including index 1 and excluding index 3
    # lst[:] these are called indexing techniques
    print(i)

orange
100

In [119]:
lst.append(["Guava","banana"])  ## nested list

In [120]:
for i in lst:
    print(i)

apple
orange
100
3.34
mango
['Guava', 'banana']

### insert

In [121]:
# insert in a specfic order
lst.insert(2,"Krishnendu")   ## it will insert "krishnendu" at index 2

In [122]:
for i in lst:
    print(i)

apple
orange
Krishnendu
100
3.34
mango
['Guava', 'banana']

### extend

In [123]:
lst = [1,2,3,4,5]

In [124]:
lst.extend([6,7,8]) ## now it will extend not create a nested list

In [125]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

### sum and pop

In [126]:
sum(lst)

36

In [127]:
lst.pop()

8

In [128]:
lst

[1, 2, 3, 4, 5, 6, 7]

### count and count all occurances of an element

In [129]:
lst.count(7)

1

In [130]:
#length calculates total length of a list
len(lst)

7

In [131]:
# index() : Returns the index of first occurance. Start and End index are not necessary parameters
lst.index(7,0,9)

6

In [132]:
## min and max element in the list
min(lst)

1

In [133]:
max(lst)

7

In [134]:
lst1 = [1,2,3,4,5]

In [135]:
lst1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Sets

### A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on data structure known as hash table

In [136]:
## defining an empty set

set_var = set()
print(set_var)
type(set_var)

set()

set

In [137]:
set_var = {1,23,4,5,45,4,5}

In [138]:
set_var

{1, 4, 5, 23, 45}

In [139]:
# set does not support indexing 
# adding elements in set
set_var.add("mango")

In [140]:
set_var

{1, 23, 4, 45, 5, 'mango'}

In [141]:
# intersection and intersection_update difference

superheros = {"Avengers","Ironman","Hitman","Batman","Flash","wonder women","Hulk","Captain America"}
mcu = { "Avengers","Ironman", "Hulk"}

In [142]:
# Difference
superheros.difference(mcu) # substracting one set from another

{'Batman', 'Captain America', 'Flash', 'Hitman', 'wonder women'}

In [143]:
# difference_update
superheros.difference_update(mcu) # after difference it will update the set

In [144]:
superheros

{'Batman', 'Captain America', 'Flash', 'Hitman', 'wonder women'}

In [145]:
mcu.union(superheros)

{'Avengers',
 'Batman',
 'Captain America',
 'Flash',
 'Hitman',
 'Hulk',
 'Ironman',
 'wonder women'}

In [146]:
mcu

{'Avengers', 'Hulk', 'Ironman'}

In [147]:
superheros

{'Batman', 'Captain America', 'Flash', 'Hitman', 'wonder women'}

In [148]:
superheros.union(mcu)

{'Avengers',
 'Batman',
 'Captain America',
 'Flash',
 'Hitman',
 'Hulk',
 'Ironman',
 'wonder women'}

In [149]:
superheros

{'Batman', 'Captain America', 'Flash', 'Hitman', 'wonder women'}

In [150]:
superheros.update(superheros.union(mcu)) # updating superheros with union of superheros and mcu

In [151]:
superheros

{'Avengers',
 'Batman',
 'Captain America',
 'Flash',
 'Hitman',
 'Hulk',
 'Ironman',
 'wonder women'}

# Dictionaries

### A dictionary is a collection which is unordered, changable and indexed. In python dictionaries are written with curly brackets, and they have keys and values

In [152]:
dict = {}
# or dict = dict()

In [153]:
type(dict)

dict

In [154]:
dict = {1,2,34,5}

In [155]:
type(dict)

set

In [156]:
# let create a dictionary

dict = {"mango" : 1, "banana" : 5}

In [157]:
dict

{'mango': 1, 'banana': 5}

In [158]:
# loop through keys 
for i in dict.keys():
    print(i)

mango
banana

In [159]:
# loop through values
for i in dict.values():
    print(i)

1
5

In [160]:
dict["mango"]

1

In [162]:
# we can also check for both keys and values
for i in dict.items(): # these will return tuple
    print(i)

('mango', 1)
('banana', 5)

In [163]:
dict["grapes"] = 4

In [164]:
dict

{'mango': 1, 'banana': 5, 'grapes': 4}

### Nested dictionaries

In [166]:
dict["summer_fruits"] = {"watermelon" : 3, "papaya" : 2}

In [167]:
dict

{'mango': 1,
 'banana': 5,
 'grapes': 4,
 'summer_fruits': {'watermelon': 3, 'papaya': 2}}

In [168]:
dict["summer_fruits"]

{'watermelon': 3, 'papaya': 2}

# Tuple

In [169]:
tup = ()

In [170]:
tup = ("mango","grapes","apple")

In [171]:
tup

('mango', 'grapes', 'apple')

In [173]:
# we can't do any operations, we can replace the whole tuple
tup = ("watermelon","oranges","cuccumber")

In [174]:
tup

('watermelon', 'oranges', 'cuccumber')

In [176]:
## Inbuilt function
tup.count("watermelon")

1